{% comment %}
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}

{% if site.featured-tags %}
<section>
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <h5><a href="{{'/archive/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
    <div class="tags">
        <!-- 只显示指定的标签 -->
        <a href="{{ site.baseurl }}/archive/?tag={{ '游记' | url_encode }}" title="游记">游记</a>
        <a href="{{ site.baseurl }}/archive/?tag={{ '随想' | url_encode }}" title="随想">随想</a>
        <a href="{{ site.baseurl }}/archive/?tag={{ 'AI编程' | url_encode }}" title="AI编程">AI编程</a>
        <a href="{{ site.baseurl }}/archive/?tag={{ 'DIFY' | url_encode }}" title="DIFY">DIFY</a>
        <a href="{{ site.baseurl }}/archive/?tag={{ 'N8N' | url_encode }}" title="N8N">N8N</a>
    </div>
</section>
{% endif %}